<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Video:</strong>
  <%= @song.video %>
</p>

<p>
  <strong>Aritst:</strong>
  <%= @song.aritst_id %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
